<div class="tabs">
  <div class="tab-content mt-4" id="nav-tabContent">
    <tabset [pills]="true">
      <tab title="General">
        <!-- <span *tabHeading>
                <b style="color: deepskyblue">About</b> <i style="color: deeppink">me</i>
              </span> -->
        <app-tab-general *ngIf="generalData" [general]="generalData"></app-tab-general>
      </tab>
      <tab title="Shipment">
        <app-tab-shipment *ngIf="shipmentData" [tradeNumber]="tradeNumber" [shipment]="shipmentData"></app-tab-shipment>
      </tab>
      <tab title="Container">
        <app-tab-container></app-tab-container>
      </tab>
    </tabset>
  </div>
</div>
