<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="links">
        <a class="m-0 info" [routerLink]="['pss-information']" routerLinkActive="router-link-active">PSS Information</a>
      </div>
      <div class="tabs">
        <div class="tab-content w-100 mt-4" id="nav-tabContent">
          <ul *ngIf="data" ngbNav #nav="ngbNav" class="nav-tabs">
            <li class="w-30 p-0" [ngbNavItem]="1">
              <a ngbNavLink><i class="fal fa-file-alt mr-2"></i>General</a>
              <ng-template ngbNavContent>
                <app-tab-general [general]="data?.generalInfo" [notes]="notes"></app-tab-general>
              </ng-template>
            </li>
            <li class="w-30 p-0" [ngbNavItem]="2">
              <a ngbNavLink><i class="far fa-analytics mr-2"></i>Shipment</a>
              <ng-template ngbNavContent>
                <app-tab-shipment [tradeNumber]="tradeNumber"></app-tab-shipment>
              </ng-template>
            </li>
            <li class="w-30 p-0" [ngbNavItem]="3">
              <a ngbNavLink><i class="far fa-truck-moving mr-2"></i>Container</a>
              <ng-template ngbNavContent>
                <app-tab-container [containers]="data?.containerInfo"></app-tab-container>
              </ng-template>
            </li>
            <div [ngbNavOutlet]="nav" class="w-100"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>