<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="links">
        <a class="m-0" href="">PSS Information</a>
      </div>
      <div class="tabs">
        <div class="tab-content mt-4" id="nav-tabContent">
          <tabset [pills]="true" *ngIf="data" >
            <tab title="General">
              <app-tab-general [general]="data?.generalInfo" [notes]="notes"></app-tab-general>
            </tab>
            <tab title="Shipment">
              <app-tab-shipment [tradeNumber]="tradeNumber" [shipment]="data?.shipmentInfo" [bl_number]="bl_number"></app-tab-shipment>
            </tab>
            <tab title="Container">
              <app-tab-container [containers]="data?.containerInfo"></app-tab-container>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
