<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg barmobile">

      <button id="menu-toggle"><i data-feather="menu"></i></button>
    </nav>
    <div class="container">
      <div class="title">
        <div class="links">
          <h3><a href="#"><i data-feather="chevron-left"></i></a> Purchase <span class="colorPrimary">12346</span> </h3>
          <a [routerLink]="['/admin/purchase/information']" routerLinkActive="router-link-active" >PSS Infomation</a>
        </div>
        <div class="user">
          <h3>Starbuck Coffee Trading Sarl
            <span>John Mayers</span></h3>
          <div class="avatar">
            <img src="assets/images/profile.png" alt="profile">
          </div>
        </div>
      </div>
      <div class="box">
        <div class="mb-3 font-weight-semibold">Going</div>
        <div class="table-responsive">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th width="35%">BL Number </th>
                <th width="35%">Vessel</th>
                <th width="5%">Bags</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1175472</td>
                <td>25697113</td>
                <td>25697113</td>
                <td>
                  <div class="status status-going">Going</div>
                </td>
              </tr>
              <tr>
                <td>1175472</td>
                <td>Sealand Philadenphia</td>
                <td>25697113</td>
                <td>
                  <div class="status status-going">Going</div>
                </td>
              </tr>
              <tr>
                <td>1175472</td>
                <td>25697113</td>
                <td>25697113</td>
                <td>
                  <div class="status status-going">Going</div>
                </td>
              </tr>
              <tr>
                <td>1175472</td>
                <td>25697113</td>
                <td>25697113</td>
                <td>
                  <div class="status status-going">Going</div>
                </td>
              </tr>
              <tr>
                <td>1175472</td>
                <td>25697113</td>
                <td>25697113</td>
                <td>
                  <div class="status status-going">Going</div>
                </td>
              </tr>
              <tr class="last">
                <td></td>
                <td align="right" class="font-weight-semibold">Total Bags </td>
                <td class="font-weight-semibold">1234</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<div class="general">
  <app-general></app-general>
</div>
<div class="doc">
  <app-document></app-document>
</div>