<div class="d-flex" id="wrapper">

  <div id="page-content-wrapper">

    <!-- bar mobile -->

    <nav class="navbar navbar-expand-lg barmobile">

      <button id="menu-toggle"><i data-feather="menu"></i></button>
    </nav>
    <!-- / bar mobile -->

    <div class="container">
      <div class="title">
        <h3>Home</h3>
        <div class="user">
          <h3>Starbuck Coffee Trading Sarl
            <span>John Mayers</span></h3>
          <div class="avatar">
            <img src="assets/images/profile.png" alt="profile">
          </div>
        </div>
      </div>
      <div class="box">
        <form [formGroup]="searchForm" class="row mb-2 search-form">
          <div class="form-group col-lg-3 col-md-6 col-sm-12">
            <label>Mercon's Trade Number</label>
            <input formControlName="trade_num" type="text" class="form-control" placeholder="115622">
          </div>
          <div class="form-group col-lg-3 col-md-6 col-sm-12">
            <label>Origin</label>
            <ng-select [items]="cities" bindLabel="name" bindValue="name" formControlName="origin"  name="select">
            </ng-select>
          </div>
          <div class="form-group col-lg-3 col-md-6 col-sm-12">
            <label>Cilent's Ref</label>
            <input formControlName="ref" type="text" class="form-control" placeholder="115622">
          </div>
          <div class="form-group col-lg-3 col-md-6 col-sm-12 justify-content-end">
            <label style="opacity: 0; margin-bottom: 11px;" class="d-none d-md-block">button</label>
            <div class="row justify-content-end">
              <div class="col-lg-6 col-md-6 col-6">
                <button  (click)="searchByKeyword()" type="submit" class="btn btnPrimary">Search</button>
              </div>
              <div class="col-lg-6 col-md-6 col-6">
                <button type="submit" class="btn btnOutline">Clear</button>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th style="width: 20%;">Mercon's Trade Number</th>
                <th>Cilent's Ref</th>
                <th>Quality</th>
                <th>Delivery Period</th>
                <th>Bags</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let trade of listTrades | paginate: { itemsPerPage: 6, currentPage: page}">
                <td class="color1">
                  {{trade?.number}}
                </td>
                <td class="color2">
                  {{trade?.ref}}
                </td>
                <td>
                  {{trade?.quality}}
                </td>
                <td>
                  {{trade?.period}}
                </td>
                <td>
                  {{trade?.bags}}
                </td>
                <td>
                  <div class="status " [class.status-apr]="trade?.status == 'Approved'"
                    [class.status-pending]="trade?.status == 'Pending'" [class.status-going]="trade?.status == 'Going'">
                    {{trade?.status}} <span *ngIf="trade?.status == 'Going'" class="note">{{trade?.note}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="paginationCustom mt-4">
          <span>Showing 1 to 25 of 57 entries</span>
          <pagination-controls class="marcon-pagination" nextLabel="" previousLabel="" autoHide="true" maxSize="3" responsive="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
