@import "src/assets/scss/app-variables";
@import "src/assets/scss/breakpoints";

.iconHidden {
  display: none;
  transition-duration: 0.4s;
}

.marcon-navbar-mobile {
  .mobile-logo {
    width: 65%;
  }

  h1 {
    color: white;
  }

  .navbar-mb {
    z-index: 3000;
  }

  .non-stretch {
    background-color: white;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 3000;
    transform: translateX(-101%);
    transition-duration: 0.4s;
  }

  .on-stretch {
    transform: translateX(-15%);
    transition-duration: 0.4s;
  }

  .icon-flow {
    transform: translateX(525%);
    transition-duration: 0.4s;
  }

  .non-flow {
    i {
      color: #6d6e70;
    }

    #x-icon {
      color: white !important;
    }
    transition-duration: 0.4s;
  }

  ul {
    list-style-type: none;
  }

  .navbar-list-mb {
    font-size: 18px;
    padding-left: 50px;

    .nav-link {
      padding: 15px;

      color: #6d6e70 ;
    }
    a {
      &:focus,
      &:active,
      &:hover {
        background: #a3cf60;
        color: #fff !important;
        border-radius: 40px 0 0 40px;
        transition-duration: 0.3s;
      }
    }
  }
}

.shadow {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: none;
  z-index: 900;
  background: rgba(32, 32, 32, 0.6);

  @include sm {
    display: none !important;
  }
}

.display {
  display: block;
}

.active {
  background: #a3cf60;
  color: #fff !important;
  border-radius: 40px 0 0 40px;
}
