<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg barmobile">
      <button class="d-sm-block d-none" (click)="showSidebar(isShowSidebar)">
        <i style="font-size: 25px;" class="fal fa-bars"></i>
      </button>
    </nav>
    <div class="container pb-0">
      <div class="title">
        <h3 class="text-capitalize">
          <i (click)="backToPrevPage()" *ngIf="tradeNumber" style="cursor: pointer;" class="far fa-angle-left mr-2"></i>
          {{title}} <span style="color: #A3CF60;">
            {{tradeNumber}}
          </span>
        </h3>
        <div class="user">
          <h3> {{companyName}}
            <span>
              {{userName}}
            </span>
          </h3>
          <div class="avatar">
            <img src="assets/images/profile.png" alt="profile">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="marcon-navbar-mobile d-block d-sm-none">
  <div class="navbar navbar-mb pt-2 w-100 position-fixed" [class.scrolled]="scrolled" [class.awake]="awake">
    <div class="row w-100">
      <div (click)="showMobileNav()" [class.icon-flow]="stretching" class="col-2 p-0 non-flow text-right">
        <i [class.iconHidden]="stretching" style="font-size: 25px;" class="fal fa-bars pt-3"></i>
        <i id="x-icon" [class.iconHidden]="!stretching" style="font-size: 30px;" class="fal fa-times pt-3"></i>
      </div>
      <div [class.icon-flow]="stretching" class="col-10 p-0 non-flow">
      </div>
      <div [class.on-stretch]="stretching" class="col-12 pr-0 position-fixed non-stretch">

        <ul class="navbar-list-mb list-group mr-auto mt-2 mt-lg-0 ml-4 text-left">
          <img class="mobile-logo mx-auto my-4" src="assets/images/logo.png" alt="">
          <li class="nav-item">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/merconconnect/home']" routerLinkActive="active">
              <i class="fal fa-home-lg-alt mr-2"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/dashboard']"
              routerLinkActive="active">
              <i class="fal fa-chart-pie-alt mr-2"></i>
              Dashboard
            </a>
          </li>
          <li class="nav-item ">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/report']" routerLinkActive="active">
              <i class="fal fa-file mr-2"></i>
              Reports
            </a>
          </li>
          <li class="nav-item ">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/about']"
              routerLinkActive="active">
              <i class="fal fa-info-circle mr-2"></i>
              About
            </a>
          </li>
          <li class="nav-item ">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/chat']" routerLinkActive="active">
              <i class="fal fa-comment-alt mr-2"></i>
              Chat
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" >
              <div ngbDropdown placement="right" display="dynamic" class="d-inline-block dropdown-option w-100">
                <button class="btn p-0 w-100 text-left" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fal fa-hexagon mr-2"></i>
                  Client
                  <i style="padding: 5px;" class="far fa-angle-right float-right"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="changeClient(client)" *ngFor="let client of listClientCompanies" class="btn" ngbDropdownItem>
                    {{client?.companyCd}}
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item ">
            <a (click)="hiddenMobileNav()" class="nav-link" [routerLink]="['/out']" routerLinkActive="active">
              <i class="fal fa-sign-out mr-2"></i>
              Log Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div [class.display]="stretching" class="shadow">

</div>
