<div class="d-flex" id="wrapper">


  <div id="page-content-wrapper">

    <!-- bar mobile -->

    <nav class="navbar navbar-expand-lg barmobile">

      <button id="menu-toggle"><i data-feather="menu"></i></button>
    </nav>
    <!-- / bar mobile -->

    <div class="container">
      <div class="box">
        <div class="mb-3 font-weight-semibold">PSS Infomation</div>
        <div class="table-responsive">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th>Ref</th>
                <th>Template Code</th>
                <th>Results Date</th>
                <th>Result </th>
                <th>Bags</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let info of purchaseInfos | paginate: { itemsPerPage: 6, currentPage: page}">
                <td>
                  {{info?.pssRef}}
                </td>
                <td>
                  {{info?.docTemplateCode}}
                </td>
                <td>
                  {{info?.sampleResultsDateString}}
                </td>
                <td>
                  {{info?.sampleResult}}
                </td>
                <td>
                  {{info?.bags}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="paginationCustom mt-4">
          <span>Showing 1 of {{purchaseInfos?.length}} entries</span>
          <pagination-controls class="marcon-pagination" nextLabel="" previousLabel="" autoHide="true" maxSize="5"
            responsive="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
