<div class="d-flex" id="wrapper">


  <div id="page-content-wrapper">

    <!-- bar mobile -->

    <nav class="navbar navbar-expand-lg barmobile">

      <button id="menu-toggle"><i data-feather="menu"></i></button>
    </nav>
    <!-- / bar mobile -->

    <div class="container">
      <div class="title">
        <div class="links">
          <h3><a href="#"><i data-feather="chevron-left"></i></a> Purchase <span class="colorPrimary">12346</span> </h3>

        </div>
        <div class="user">
          <h3>Starbuck Coffee Trading Sarl
            <span>John Mayers</span></h3>
          <div class="avatar">
            <img src="assets/images/profile.png" alt="profile">
          </div>
        </div>
      </div>
      <div class="box">
        <div class="mb-3 font-weight-semibold">PSS Infomation</div>
        <div class="table-responsive">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th>Ref</th>
                <th>Sent Date</th>
                <th>Results Date</th>
                <th>Result </th>
                <th>Bags</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MEDU 667728 </td>
                <td>23-02-2010</td>
                <td>23-02-2010</td>
                <td>Approved</td>
                <td>24kbg</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>23-02-2010</td>
                <td>23-02-2010</td>
                <td>Approved</td>
                <td>24kbg</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>23-02-2010</td>
                <td>23-02-2010</td>
                <td>Approved</td>
                <td>24kbg</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>23-02-2010</td>
                <td>23-02-2010</td>
                <td>Approved</td>
                <td>24kbg</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>23-02-2010</td>
                <td>23-02-2010</td>
                <td>Approved</td>
                <td>24kbg</td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="paginationCustom mt-4">
          <span>Showing 1 to 25 of 57 entries</span>
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i data-feather="chevron-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><i data-feather="chevron-right"></i></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
