<div class="d-flex" id="wrapper">


    <div id="page-content-wrapper">

      <div class="container">
        <div class="title">
          <div class="links">
            <h3><a href="#"><i data-feather="chevron-left"></i></a> Purchase <span class="colorPrimary">12346</span> </h3>
          </div>
          <div class="user">
            <h3>Starbuck Coffee Trading Sarl
              <span>John Mayers</span></h3>
            <div class="avatar">
              <img src="images/profile.png" alt="profile">
            </div>
          </div>
        </div>
        <div class="box">
          <div class="mb-3 font-weight-semibold">Document</div>
          <div class="table-responsive">
            <table id="example" class="table table-custom mb-0">
              <thead>
                <tr>
                  <th>File name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a class="linkdocument" href="">Starbuck Position Report as of Jun 22.xls </a></td>
                </tr>
                <tr>
                  <td><a class="linkdocument" href="">Starbuck Position Report as of Jun 22.xls </a></td>
                </tr>
                <tr>
                  <td><a class="linkdocument" href="">Starbuck Position Report as of Jun 22.xls </a></td>
                </tr>
                <tr>
                  <td><a class="linkdocument" href="">Starbuck Position Report as of Jun 22.xls </a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>