<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="box">
        <div class="mb-3 font-weight-semibold">Document</div>
        <div class="table-responsive document">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th>File name</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!listFiles || listFiles?.length == 0">
                <td>
                  <a class="linkdocument">
                    No data found!
                  </a>
                </td>
              </tr>
              <tr *ngFor="let file of listFiles" style="padding-bottom: 55px;">
                <td >
                  <a class="linkdocument" [href]="host + file.web_route" target="_blank">
                    {{file?.file_name}}
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
