<div id="sidebar-wrapper">
  <a href="#" class="sidebar-heading">
    <img src="assets/images/logo.png" alt="logo">
  </a>
  <div class="list-group">
    <a [routerLink]="['/admin/home']" routerLinkActive="active" >
      <i class="fal fa-home-lg-alt mr-2"></i>
      Home
    </a>
    <a [routerLink]="['/admin/dashboard']" routerLinkActive="active" >
      <i class="fal fa-chart-pie-alt mr-2"></i>Dashboard
    </a>

    <a [routerLink]="['/admin/report']" routerLinkActive="active" >
      <i class="fal fa-file mr-2"></i>Reports
    </a>

    <a [routerLink]="['/admin/purchase']">
      <i class="fal fa-info-circle mr-2"></i>About
    </a>

    <a [routerLink]="['/admin/chat']" routerLinkActive="active" >
      <i class="fal fa-comment-alt mr-2"></i>
      Chat
    </a>

    <a>
      <i class="fal fa-hexagon mr-2"></i>
      Client
    </a>

    <a><i class="fal fa-sign-out mr-2"></i> Log Out
    </a>
  </div>
</div>
