<div [class.show]="isShow" id="sidebar-wrapper">
  <a class="sidebar-heading">
    <img src="assets/images/logo.png" alt="logo" [routerLink]="['/']">
  </a>
  <div class="list-group">
    <a [routerLink]="['/merconconnect/home']" (click)="changeBreadcrumb('home')" routerLinkActive="active">
      <i class="fal fa-home-lg-alt mr-2"></i>
      Home
    </a>
    <a [routerLink]="['/merconconnect/dashboard']" (click)="changeBreadcrumb('dashboard')" routerLinkActive="active">
      <i class="fal fa-chart-pie-alt mr-2"></i>Dashboard
    </a>

    <a [routerLink]="['/merconconnect/report']" (click)="changeBreadcrumb('report')" routerLinkActive="active">
      <i class="fal fa-file mr-2"></i>Reports
    </a>

    <a [routerLink]="['/merconconnect/about']" (click)="changeBreadcrumb('About')" routerLinkActive="active">
      <i class="fal fa-info-circle mr-2"></i>About
    </a>

    <a [routerLink]="['/merconconnect/chat']" (click)="changeBreadcrumb('chat')" routerLinkActive="active">
      <i class="fal fa-comment-alt mr-2"></i>
      Chat
    </a>

    <a >
      <div ngbDropdown placement="right" display="dynamic" class="d-inline-block dropdown-option w-100">
        <button class="btn p-0 w-100 text-left" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fal fa-hexagon mr-2"></i>
          Client
          <i style="padding: 5px;" class="far fa-angle-right float-right"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="changeClient(client)" *ngFor="let client of listClientCompanies" class="btn" ngbDropdownItem>
            {{client?.companyCd}}
          </button>
        </div>
      </div>
    </a>

    <a style="cursor: pointer;" (click)="logOut()"><i class="fal fa-sign-out mr-2"></i>Log Out</a>
  </div>
</div>

<div (click)="exitSidebar()" [class.d-block]="isShow" class="shadow">

</div>
