<div class="tab-pane mt-4" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
  <div class="box">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="example" class="table table-custom mb-0">
            <thead>
              <tr>
                <th>Container</th>
                <th>ICO</th>
                <th>Waregouse ID</th>
                <th>Date </th>
                <th>UOM </th>
                <th>Bags </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
              </tr>
              <tr>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
                <td>MEDU 667728 </td>
                <td>25697113</td>
                <td>25697113</td>
              </tr>
              <tr class="last">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right" class="font-weight-semibold">Total Bags </td>
                <td class="font-weight-semibold">1234</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
