/* You can add global styles to this file, and also import other style files */

@import './assets/css/bootstrap.min.css';
@import './assets/css/style.scss';
@import './assets/css/bootstrap-select.min.css';
@import './assets/css/bootstrap-reboot.min.css';
@import './assets/css/bootstrap-grid.css';
@import "assets/fontawesome/css/all.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.marcon-pagination {
    .ngx-pagination {
        .current {
            background: #a3cf60;
            border: 1px solid #a3cf60;
            color: white;
            padding: 7px 15px;
            margin: 5px;
            border-radius: 4px;
        }

        a {
            color: #6d6e70;
            display: unset;
            padding: 9px 15px;
            margin: 5px;
            border-radius: 4px;
            border: 1px solid #dee2e6;

            &:hover {
                transition-duration: 0.3s;
                background: #e9ecef;
                text-decoration: none;
            }
        }
    }

    .ngx-pagination .pagination-next a::after,
    .ngx-pagination .pagination-next.disabled::after {
        content: "\203A";
        font-size: 30px;
        position: relative;
        top: 4px;
        margin: 0;
    }

    .ngx-pagination .pagination-previous a::before,
    .ngx-pagination .pagination-previous.disabled::before {
        content: "\2039";
        font-size: 30px;
        position: relative;
        top: 4px;
        margin: 0;
    }
}
