<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="chatbox">
        <div class="sidebar">
          <div class="searchChat">
            <input type="text" class="form-control" placeholder="Search Message or Name…">
            <i style="top: 12px;
              left: 12px;" class="fal fa-search mr-2 position-absolute"></i>
          </div>
          <div class="list-wrap">

            <div (click)="changeGroup(item)" *ngFor="let item of listGroup" class="list">
              <img src="assets/images/avatar.png" alt="" />
              <div class="info">
                <span class="user">
                  {{item?.groupName}}
                </span>
                <span class="text">Hi! :)</span>
              </div>
              <span class="count">20</span>
              <span class="time">now</span>
            </div>

          </div>
        </div>
        <div class="content">
          <header>
            <img src="assets/images/avatar.png" alt="" />
            <div class="info">
              <span class="user">
                {{chatContent?.groupName}}
              </span>
              <span class="time">Account Manager</span>
            </div>

          </header>
          <div class="message-wrap">
            <div class="message-list">
              <div class="msg">
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit minus minima quo corporis.
                </p>
              </div>
              <div class="time">now</div>
            </div>
            <div class="message-list me">
              <div class="msg">
                <p>
                  Lorem ipsum dolor sit amet.
                </p>
              </div>
              <div class="time">now</div>
            </div>

          </div>
          <form [formGroup]="messageForm">
          <div class="message-footer">
              <div class="sendfile">
                <i style="font-size: 20px;
              position: relative;
              top: 10px;" class="fal fa-paperclip"></i>
                <input type="file">
              </div>
              <input formControlName="messageToSend" type="text" placeholder="Type your message..." />
              <button (click)="sendMessage(groupChat)"><i class="fal fa-paper-plane"></i></button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
