<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="row chatbox">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
          <div class="sidebar">
            <div class="searchChat">
              <input type="text" class="form-control" placeholder="Search Message or Name…">
              <i style="top: 12px;
                left: 12px;" class="fal fa-search mr-2 position-absolute"></i>
            </div>
            <div class="list-wrap">

              <div (click)="changeGroup(item)" *ngFor="let item of listGroup" class="list">
                <img src="assets/images/avatar.png" alt="" />
                <div class="info">
                  <span class="user">
                    {{item?.groupName}}
                  </span>
                  <span *ngIf="item?.badge != 0" class="text">
                    New message
                  </span>
                </div>
                <span *ngIf="item?.badge != '0'" class="count">
                  {{item?.badge}}
                </span>
                <!-- <span class="time">now</span> -->
              </div>
            </div>
          </div>
        </div>
        <div style="height: 80vh;" class="col-12 col-sm-12 col-md-7 col-lg-8">
          <div class="content h-100">
            <header>
              <img src="assets/images/avatar.png" alt="" />
              <div class="info">
                <span class="user">
                  {{groupChat?.groupName}}
                </span>
                <!-- <span class="time">Account Manager</span> -->
              </div>

            </header>
            <div #scrollFrame class="message-wrap h-75">
              <div [class.me]="message.own" *ngFor="let message of listMessages" #item class="message-list">
                <div *ngIf="message.type == 'text'" class="msg">
                  <p [style.color]="colorMap.get(message.sender_id)" class="font-weight-bold">
                    {{message.sender_name}}
                  </p>
                  <p>
                    {{message.content}}
                  </p>
                  <p [class.text-white]="message.own" class="time">{{message.timestamp}}</p>
                </div>
                <div *ngIf="message.type == 'image'" class="msg">
                  <p [style.color]="colorMap.get(message.sender_id)" class="font-weight-bold">
                    {{message.sender_name}}
                  </p>
                  <img class="w-100" [src]="message?.content" alt="#image">
                  <p [class.text-white]="message.own" class="time">{{message.timestamp}}</p>
                </div>
                <div *ngIf="message.type == 'file'" class="msg">
                  <p [style.color]="colorMap.get(message.sender_id)" class="font-weight-bold">
                    {{message.sender_name}}
                  </p>
                  <i class="fas fa-file-alt mr-2"></i>
                  <a [class.text-white]="message.own" class="text-underline" [href]="message.content">
                    {{message.fileName}}
                  </a>
                  <p [class.text-white]="message.own" class="time">{{message.timestamp}}</p>
                </div>
              </div>

              <div *ngIf="isTyping" class="typing mx-auto p-2">
                <span>
                  {{whoTyping}}
                </span>
              </div>
            </div>

            <form [formGroup]="messageForm">
              <div *ngIf="isFile" class="preview-file py-1">
                <div class="h-100 rounded ml-1">
                  <div class="h-100 container pb-0">
                    <div class=" h-100 row">
                      <div class="h-100 col-3">
                        <i class="fas fa-file-alt"></i>
                      </div>
                      <div class="h-100 col-9 py-2">
                        <p style="-webkit-box-orient: vertical"
                          class="font-weight-bold text-uppercase m-0 content-text-line-clamp">
                          {{fileType}}
                        </p>
                        <span style="-webkit-box-orient: vertical" class="content-text-line-clamp">
                          {{fileName}}
                        </span>
                        <button (click)="removeFile()" class="btn btn-close"><i class="fas fa-times"></i></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div *ngIf="isImg" class="preview-img w-100 p-2">
                <img [src]="fileTemp" alt="imgUpload">
                <!-- preview img -->
                <button (click)="removeFile()" class="btn btn-close"><i class="fas fa-times"></i></button>
              </div>
              <div class="message-footer">
                <div class="sendfile">
                  <i class="fal fa-paperclip att-icon"></i>
                  <input style="cursor: pointer;" type="file" (change)="readFile($event)">
                </div>
                <input (keyup)="showTyping($event)" formControlName="messageRaw" type="text"
                  placeholder="Type your message..." />
                <button [disabled]="messageForm.invalid" (click)="sendMessage()"><i
                    class="fal fa-paper-plane"></i></button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
