<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <div class="container">
      <div class="chatbox">
        <div class="sidebar">
          <div class="searchChat">
            <input type="text" class="form-control" placeholder="Search Message or Name…">
            <i style="top: 12px;
              left: 12px;" class="fal fa-search mr-2 position-absolute"></i>
          </div>
          <div class="list-wrap">

            <div (click)="changeGroup(item)" *ngFor="let item of listGroup" class="list">
              <img src="assets/images/avatar.png" alt="" />
              <div class="info">
                <span class="user">
                  {{item?.groupName}}
                </span>
                <span class="text">Hi! :)</span>
              </div>
              <span class="count">
                {{item?.badge}}
              </span>
              <span class="time">now</span>
            </div>

          </div>
        </div>
        <div class="content">
          <header>
            <img src="assets/images/avatar.png" alt="" />
            <div class="info">
              <span class="user">
                {{groupChat?.groupName}}
              </span>
              <span class="time">Account Manager</span>
            </div>

          </header>
          <div class="message-wrap">
            <div [class.me]="message.own" *ngFor="let message of listMessages" class="message-list">
              <div class="msg">
                <p>
                  {{message.content}}
                </p>
              </div>
              <div class="time">
                {{message.timestamp}}
              </div>
            </div>
            <div  *ngIf="isTyping" class="typing mx-auto p-2">
              <span>User is typing ...</span>
            </div>
          </div>
          <form [formGroup]="messageForm">
            <div class="message-footer">
              <div class="sendfile">
                <i class="fal fa-paperclip att-icon"></i>
                <input style="cursor: pointer;" type="file" (change)="readFile($event)">
              </div>
              <input  (keyup)="showTyping($event)" formControlName="messageRaw" type="text" placeholder="Type your message..." />
              <button [disabled]="messageForm.invalid" (click)="sendMessage()"><i
                  class="fal fa-paper-plane"></i></button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
