button {
    &:focus {
        outline: none !important;
    }
}

.typing {
    height: 35px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.att-icon {
    font-size: 20px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.preview-img {
    height: 100px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    img {
        width: 150px;
        height: 100%;
        object-fit: cover;
    }
}

.preview-file {
    height: 70px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    .fa-file-alt {
        font-size: 35px;
        padding: 15px;
    }

    .rounded {
        width: 270px;
        background: #f7f7f7;
        border-radius: 5px;
    }

    .btn-close {
        right: -160px;
        top: -65px !important;
    }
}

.btn-close {
    position: relative;
    top: -35px;
}

.content-text-line-clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.msg {
    overflow-wrap: break-word;
}

