button {
    &:focus {
        outline: none !important;
    }
}

.typing {
    height: 35px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.att-icon {
    font-size: 20px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.preview-img {
    height: 100px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .10);
    background-color: #ffffff;

    img {
        width: 150px;
    height: 100%;
    object-fit: cover;
    }
}

.btn-close {
    position: relative;
    top: -35px;
}