<div class="tab-pane mt-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="box">
        <div class="font-weight-semibold">Info</div>
        <hr>
        <ul class="infoNumber">
          <li class="row">
            <label class="col-5">Trade Number</label>
            <div class="col-7">
              {{general?.purchaseNumber}}
            </div>
          </li>
          <li class="row">
            <label class="col-5">Reference</label>
            <div class="col-7">
              12
            </div>
          </li>
          <li class="row">
            <label class="col-5">Crop</label>
            <div class="col-7">
              {{general?.crop}}
            </div>
          </li>
          <li class="row">
            <label class="col-5">Price</label>
            <div class="col-7">
              {{general?.price}}
              <span>
                {{general?.unit}}
              </span>
            </div>
          </li>
          <li class="row">
            <label class="col-5">Total Bags</label>
            <div class="col-7">
              {{general?.totalBags}}
            </div>
          </li>
          <li class="row">
            <label class="col-5">Destination</label>
            <div class="col-7">
              {{general?.destination}}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="box">
        <div class="font-weight-semibold">Coffee Quaity</div>
        <hr>
        {{general?.coffeeQuality}}

      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="box">
        <div class="font-weight-semibold">Notes</div>
        <hr>
        <p *ngFor="let note of notes">
          {{note?.noteText}}
        </p>
      </div>
    </div>
  </div>
</div>
